.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    background-color:transparent;

}
.logo{
    position: fixed;
    left: 20px;
    width: 80px;
}
.avathar{
    position: fixed;
    right: 20px;
    width: 30px;
}
.div-search{
    position: absolute;
    right: 145px;
}
.search{
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 8px;
    padding-left: 10px;
    background: blanchedalmond;
}
.search::placeholder{
    margin-left: 40px;
   
    padding: 30px;
}
.search-btn{
    background-color: red;
    padding: 10px;
    border-radius: 9px;
    border: none;
    color: white;
    font-weight: 500;
}